h1{
    text-align: center;
}
.book-container .input-container{
    width: 50%;
    margin-left: 25%;
    margin-top: 2.5vh;
}
.book-container{
    height: 55vh;
}
.add-button{
    height: 4vh;
    width: 6vw;
    margin-top: 1vh;
    margin-left: 25vw;
}
.add-button:hover{
    background-color: green;
    color: white;
}
input{
    margin: 5px;
}